<div class="card-group card-group-sm cards-responsivos-sm">
    <div class="card cards-mini-sm">
      <h4 class="textbody-title textbody-title-sm">MINICARREGADEIRA 226B3</h4>
      <img class="card-img-top" src="images/226b3.jpg" alt="Imagem de capa do card"/>
      <div class="card-body body-card-mini">
        <p class="card-text">A 226B3 é referência em produtividade, em custo-benefício e seus intervalos de manutenção preventiva podem ser programados para até 500 horas de operação. Ideal para os segmentos de construção civil, prestação de serviços, paisagismo e agricultura.</p>
      </div>
    </div>
    <div class="card cards-mini-sm">
      <h4 class="textbody-title textbody-title-sm">MINIESCAVADEIRA 303.5E</h4>
      <img class="card-img-top" src="images/3035e.jpg" alt="Imagem de capa do card"/>
      <div class="card-body body-card-mini">
        <p class="card-text">Fabricada no Brasil pela Caterpillar, a Miniescavadeira 303.5E é a prova surpreendente de que é possível encontrar tudo o que você precisa em uma máquina compacta, pois ela está disponível em quatro configurações com opções de cabines e esteiras que deixam a máquina pronta para os principais desafios do dia dia.</p>
      </div>
    </div>
    <div class="card cards-mini-sm">
      <h4 class="textbody-title textbody-title-sm">MINICARREGADEIRAS SÉRIE D3</h4>
      <img class="card-img-top" src="images/d3.jpg" alt="Imagem de capa do card"/>
      <div class="card-body body-card-mini">
        <p class="card-text">Conheça a evolução das máquinas da Série D3, com o que há de melhor em minicarregadeiras, com maior espaço interno, cabine vedada e pressurizada, câmera de ré integrada e novas ferramentas de trabalho Smart. Para quem busca estar sempre à frente.</p>
      </div>
    </div>
  </div>
