<div class="container home-container">
  <section class="desk-main-wrap">
    <div class="main-text-wrap">
      <div class="parceiros-left">
        <p class="col-main-text text-bloco1">{{parceiro.bloco1}}</p>
        <p class="col-main-text titulo">{{parceiro.titulobloco3}}</p>
        <p class="col-main-text text-bloco3">{{parceiro.bloco3}}</p>
        <div class="parceiros-separator">&nbsp;</div>
        <p class="col-main-text titulo">{{parceiro.titulobloco4}}</p>
        <p class="col-main-text text-bloco4">{{parceiro.bloco4}}</p>
      </div>
      <div class="parceiros-right img-parceiros-right">
        <p class="col-main-text text-bloco2">{{parceiro.bloco2}}</p>
      </div>
    </div>
  </section>
</div>

