<div class="container home-container">
<section class="desk-main-wrap">
    <div class="desk-tech-content-wrapper">
      <div class="desk-tech-row1">
        <div class="desk-tech-row1-col1">
          <p class="desk-tech-row1-col1-text">{{tecnologia.row1col1top}}</p><br>
          <p class="desk-tech-row1-col1-text">{{tecnologia.row1col1bottom}}</p>
          <p class="desk-tech-row1-col2-text">{{tecnologia.row1col2}}</p>
        </div>
      </div>
      <div class="desk-tech-row2">
          <img class="card-img-cel" src= "../../images/tecnologia/cel-tec.png" >
      </div>
      
      <div class="desk-tech-row4">
        <p class="desk-tech-row4-text">{{tecnologia.row4}}</p>
      </div>
    </div>
  </section>

</div>

 