<div class="container home-container">
  <section class="desk-main-wrap">
    <div class="desk-tech-content-wrapper">
      <div class="desk-tech-row1">
        <div class="desk-tech-row1-col1">
          <p class="desk-tech-row1-col1-text">{{tecnologia.row1col1top}}</p><br>
          <p class="desk-tech-row1-col1-text">{{tecnologia.row1col1bottom}}</p>
        </div>
        <div class="desk-tech-row1-col2">
          <p class="desk-tech-row1-col2-text">{{tecnologia.row1col2}}</p>
        </div>
      </div>
      <div class="desk-tech-row2">
          <h1 class="desk-tech-row2-text">{{tecnologia.row2}}</h1>
      </div>
      <div class="desk-tech-row3">
        <div class="desk-tech-row3-col1">
            <img src="images/tecnologia/contas.png" alt="" class="desk-row3-icon">
        </div>
        <div class="desk-tech-row3-col2">
          <img src="images/tecnologia/boletos.png" alt="" class="desk-row3-icon">
        </div>
        <div class="desk-tech-row3-col3">
          <img src="images/tecnologia/cameras.png" alt="" class="desk-row3-icon">
        </div>
        <div class="desk-tech-row3-col4">
          <p class="desk-tech-row3-col4-text" ng-bind-html="tecnologia.row3col4 | trustAsHtml"></p>
        </div>
      </div>
      <div class="desk-tech-row4">
        <p class="desk-tech-row4-text">{{tecnologia.row4}}</p>
      </div>
    </div>
  </section>
</div>

 