.desk-main-wrap {
  display: flex;
  justify-items: center;
  background-image: url(../../images/app/cel-app-desktop.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 3em;
}
.main-text-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
}
.main-text {
  display: flex;
}

.desk-main-wrap {
  min-width: 100%;
}

.home-container {
  display: flex;
  min-height: 81vh;
  margin-top: 5em;
}

.app-content-wrapper {
  height: 100%;
  padding-top: 3em;
  padding-bottom: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 100%;
}
.app-left-content {
  display: flex;
  width: 100%;
}
.app-right-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 44%;
  margin-top: 1em;
}
.app-right-first-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  margin-bottom: 1em;
}
.app-right-first-row-col1 {
  display: flex;
  margin-right: 1em;
}
.app-right-first-row-col2 {
  display: flex;
  margin-right: 1em;
}
.app-right-first-row-col3 {
  display: flex;
  margin-right: 1em;
  flex-direction: column;
}
.app-right-first-row-col4 {
  display: flex;
  margin-right: 1em;
  flex-direction: column;
}
.app-right-second-row {
}
.app-right-third-row {
}
.app-right-fourth-row {
}
.app-right-fifth-row {
}
.app-right-sixth-row {
}
.app-right-seventh-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 38em;
  border-radius: 50px;
  background-color: #6b4086;
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
}
.app-download-text {
  font-family: AvenirLTSHeavy;
  text-align: left;
  font-size: 2.5em;
  line-height: 1;
  color: #fff;
}
.app-qr {
  width: 4.5em;
}
.app-apple {
  margin-bottom: 0.5em;
}
.app-google {
}
.app-disponivel {
  font-family: AvenirLTSHeavy;
  text-align: left;
  font-size: 0.6em;
  line-height: 1;
  color: #fff;
  align-self: end;
}
.app-row2 {
  font-family: AvenirLTSLight;
  text-align: left;
  font-size: 1.4em;
  line-height: 1.2;
  color: #fff;
  align-self: end;
  text-transform: uppercase;
}
.app-separator {
  border-bottom: 3px solid #c1c1c182;
  width: 60%;
  margin-bottom: 0.5em;
}
.app-row3 {
  font-family: AvenirLTSHeavy;
  text-align: left;
  font-size: 2em;
  line-height: 1;
  color: #fff;
  margin-top: 1em;
}
.app-row4 {
  font-family: AvenirLTSLight;
  text-align: left;
  font-size: 1.3em;
  line-height: 1;
  color: #fff;
  align-self: end;
  text-transform: uppercase;
}
.app-row5 {
  font-family: AvenirLTSLight;
  text-align: left;
  font-size: 1.2em;
  line-height: 1.1;
  color: #fff;
  align-self: end;
}
.app-row6 {
  font-family: AvenirLTSHeavy;
  text-align: left;
  font-size: 2.2em;
  line-height: 1;
  color: #fff;
  margin-top: 1em;
}
.row7col2 {
  display: flex;
  flex-direction: column;
}
.row7col3 {
  display: flex;
  flex-direction: column;
}
.app-row7-col1-texto {
  font-family: AvenirLTSHeavy;
  text-align: right;
  font-size: 1.2em;
  line-height: 1;
  color: #fff;
  border-right: 3px solid #c1c1c182;
  padding-right: 1em;
}
.app-email {
  font-family: AvenirLTSLight;
  text-align: left;
  font-size: 1;
  line-height: 1;
  color: #fff !important;
  align-self: end;
}
.app-telefone {
  font-family: AvenirLTSLight;
  text-align: left;
  font-size: 1em;
  line-height: 1;
  color: #fff !important;
  align-self: end;
}


@media (max-width: 991.98px) {
  .main-text-1 {
    width: 39%;
    padding-top: 0em;
    margin-top: -14em;
  }

  .col-main-text {
    font-size: 2.5em;
  }

  .mob-main-wrap {
    display: flex;
    justify-items: center;
    background-image: url(../../images/app/app-mob-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    flex-direction: column;
    margin: -25px !important;
  }
  .mob-main-text-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
  }
  .main-text {
    display: flex;
  }

  .mob-main-wrap {
    min-width: 100%;
  }

  .mob-home-container {
    display: flex;
    min-height: 66vh;
    width: 100%;
    /* z-index: 2; */
    position: relative;
    flex-direction: column;
    height: 100%;
  }
  .app-mob-content-wrapper {
    height: 100%;
    padding-top: 3em;
    padding-bottom: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 100%;
  }
  .app-mob-left-content {
    display: flex;
    width: 100%;
  }
  .app-mob-right-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 40%;
  }
  .app-mob-right-first-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0em;
  }
  .download-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 0em;
  }
  .app-mob-right-first-row-col1 {
    display: flex;
    margin-right: 1em;
  }
  .app-mob-right-first-row-col2 {
    display: flex;
    margin-right: 1em;
  }
  .app-mob-right-first-row-col3 {
    display: flex;
    margin-right: 0.5em;
    flex-direction: column;
  }
  .app-mob-right-first-row-col4 {
    display: flex;
    margin-right: 1em;
    flex-direction: column;
  }
  .app-mob-right-second-row {
  }
  .app-mob-right-third-row {
  }
  .app-mob-right-fourth-row {
  }
  .app-mob-right-fifth-row {
  }
  .app-mob-right-sixth-row {
  }
  .app-mob-right-seventh-row {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    background-color: #6b4086;
    margin-left: -30px;
    margin-right: -30px;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1.5em;
    padding-left: 0.5em;
    justify-content: space-between;
    padding-right: 0.5em;
  }
  .app-mob-download-text {
    font-family: AvenirLTSHeavy;
    text-align: right;
    font-size: 2.1em;
    line-height: 0.8;
    color: #fff;
  }
  .app-mob-qr {
    width: 4em;

  }
  .app-mob-apple {
    margin-bottom: 0em;
    max-width: 4em;

  }
  .app-mob-google {
      max-width: 4em;
  }
  .app-mob-disponivel {
    font-family: AvenirLTSHeavy;
    text-align: left;
    font-size: 0.6em;
    line-height: 1;
    color: #fff;
    align-self: end;
    margin-bottom: 0px;
  }
  .app-mob-row2 {
    font-family: AvenirLTSLight;
    text-align: left;
    font-size: 0.8em;
    line-height: 1;
    color: #fff;
    align-self: end;
    text-transform: uppercase;
  }
  .app-mob-separator {
    border-bottom: 3px solid #c1c1c182;
    width: 60%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    max-height: 0.1em;
  }
  .app-mob-row3 {
    font-family: AvenirLTSHeavy;
    text-align: left;
    font-size: 1.8em;
    line-height: 1;
    color: #fff;
  }
  .app-mob-row4 {
    font-family: AvenirLTSLight;
    text-align: left;
    font-size: 1em;
    line-height: 1;
    color: #fff;
    align-self: end;
    text-transform: uppercase;
  }
  .app-mob-row5 {
    font-family: AvenirLTSLight;
    text-align: left;
    font-size: 1em;
    line-height: 0.8;
    color: #fff;
    align-self: end;
  }
  .app-mob-row6 {
    font-family: AvenirLTSHeavy;
    text-align: center;
    font-size: 2.2em;
    line-height: 1;
    color: #fff;
  }
  .row7col2 {
    display: flex;
    flex-direction: column;
  }
  .row7col3 {
    display: flex;
    flex-direction: column;
  }
  .app-mob-row7-col1-texto {
    font-family: AvenirLTSHeavy;
    text-align: right;
    font-size: 0.8em;
    line-height: 1;
    color: #fff;
    border-right: 3px solid #c1c1c182;
    padding-right: 1em;
  }
  .app-mob-email {
    font-family: AvenirLTSLight;
    text-align: left;
    font-size: 0.8em;
    line-height: 1;
    color: #fff !important;
    align-self: end;
  }
  .app-mob-telefone {
    font-family: AvenirLTSLight;
    text-align: left;
    font-size: 0.8em;
    line-height: 1;
    color: #fff !important;
    align-self: end;
  }
 
}
@media (max-width: 1199.98px) {
 
}
