.desk-main-wrap {
    display: flex;
    justify-items:center;
    background-image: url(../../images/sobre/desktop-sobre-meio-com-icones-teste.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    
  }
  .main-text-wrap {
    display: flex;
    flex-wrap: nowrap;
   width: unset;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2em;
  }

  .col-celular-sobre{
      display: flex;
    justify-items:center;
      background-image: url(../../images/sobre/cel-sobre.png);
      background-size: contain;
    background-repeat: no-repeat;
    min-height: 100%;
    width: 53%;
    flex-direction: column;
  }


  .desk-sobre-icon-wrap {
    display: flex;
    min-width: 25em;
  }
  .main-text {
    display: flex;
    
  }
  
  
  .desk-main-wrap {
    min-width: 100%;
  }
  
  .home-container {
    display: flex;
    min-height: 81vh;
    margin-top: 5em;
  }
  
  .main-text-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 77%;
    padding-top: unset;
    padding-bottom: 3em;
    }

  .col-main-text {
    font-family: AvenirLTSHeavy;
    text-align: left;
    font-size: calc(1.3em + 1vw);
    line-height: 1;
    color: #fff;
    margin-left: calc(35px + 1vw);
    margin-top: calc(80px + 1vw);
  }

  .col-subtitle-text {
    font-family: AvenirLTSHeavy;
    text-align: left;
    font-size: calc(0.7em + 0.5vw);
    line-height: 1.2;
    color: #fff;
    width: 14em;
    padding-left: calc(50px + 0.5vw);
}
  
  
  @media (min-width: 768px) and (max-width: 991.98px) { 
    .main-text-wrap {
      display: flex;
      justify-content: flex-start;
      padding-top: 7em;
    }
    .main-text-1 {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 62%;
      padding-top: unset;
      padding-bottom: 3em;
      }
      
      
      .col-main-text {
        font-size: calc(8px + 2vw);
      }

/* sobre.css | http://localhost:8080/assets/styles/sobre.css */

.desk-sobre-icon-wrap {
  /* min-width: 26em; */
  min-width: 20em;
}

.main-text-wrap {
  /* padding-top: 7em; */
  padding-top: -2em;
}



.col-subtitle-text {
  /* width: 17em; */
  /* padding-left: 7em; */
  width: 13em;
  padding-left: 2em;
}

      
      
      .mob-main-wrap {
        display: flex;
        justify-items:center;
        background-image: url(../../images/sobre/smartphone.png);
        background-size: contain;
        background-repeat: no-repeat;
        flex-direction: column;
        min-height: 30em;
      }
      .mob-main-text-wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
       width: 86%;
        align-items: center;
      }
      .main-text {
        display: flex;
        
      }
      
      
      .mob-main-wrap {
        min-width: 100%;
      }
      
      .mob-home-container {
        display: flex;
        min-height: 46em;
        width: 100%;
        z-index: 2;
        position: relative;
        flex-direction: column;
        padding-top: 2em;
        margin-bottom: 4em;
      }

      .mob-main-text-1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 66%;
        padding-top: 3em;
        }
      .mob-col-main-text {
        font-family: AvenirLTSHeavy;
        text-align: right;
        font-size: 2em;
        line-height: 1;
        color: #fff;
      }
      .mob-carousel-wrap{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
      }
      .mob-carousel {
        display: flex;
        background-color:#ffffff;
        width: 65%;
        height: 14em;
        padding: 1.3em;
        border-radius: 117px;
        justify-content: center;
        margin-bottom: 2em;
        margin-left: 1em;
      }
      .mob-carousel-spacer {
        display: flex;
      }
      .mob-carousel-image {
        width: 5em;
        margin-bottom: 0.5em;
      }
      .carousel {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 3em;
      }
      
      .carousel.pointer-event {
        -ms-touch-action: pan-y;
        touch-action: pan-y
      }
      
      .carousel-inner {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: visible;
      }
      
      
      
      .carousel-item {
        position: relative;
        display: none;
        float: none;
        width: unset;
        margin-right: 0px; 
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: -webkit-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
      }
      .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='BlueViolet' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
      }
      .carousel-control-next-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='BlueViolet' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
      }
      .carousel-item-next, .carousel-item-prev, .carousel-item.active {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .mob-carousel-text {
        display: flex;
        text-align: center;
        color: #744b9f;
        font-family: AvenirLTSHeavy;
        font-size: 11px;
        padding-left: 1.2em;
        padding-right: 1.2em;
          line-height: 1;
          padding-top: 0.5em;
      }
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .main-text-1 {
          width: 71%;
          padding-top: 0em;
          margin-top: 0em;
        }
      
      .col-main-text {
        font-size: calc(1.5em + 0.5vw);
      }
      .desk-sobre-icon-wrap {
        /* min-width: 26em; */
        min-width: 21em;
      }
    }      