<div class="container mob-home-container">
  <section class="mob-main-wrap">
    <div class="mob-main-text-wrap">
      <div class="mob-main-text mob-main-text-1">
        <h1 class="mob-col-main-text">{{sobre.titulo}}</h1>
      </div>
      <div class="main-text main-text-2">
        <h4 class="col-subtitle-text">  {{sobre.subtitulo}} </h4>
      </div>
      <div class="main-text main-text-3"></div>
    </div>
  </section>
  <div ng-include="'partials/sobre/sobre-mob-carousel.html'"></div>
  
</div>
