<div class="container home-container">
  <section class="desk-main-wrap">
    <div class="main-text-wrap">
        <div class="col-celular-sobre">&nbsp;
        
            <div class="main-text main-text-1">
             <h1 class="col-main-text">{{sobre.titulo}}</h1>
            </div>
            <div class="main-text main-text-2">
            <h4 class="col-subtitle-text">  {{sobre.subtitulo}} </h4>
            </div>
            <div class="main-text main-text-3"></div>
        </div>
    </div>
    <div class="desk-sobre-icon-wrap">&nbsp;</div>
  </section>
</div>

