<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-sindy" style="background-color: transparent !important;">
   <div class="container top-container-wrapper">
     <div class="top-container">
    <a class="navbar-brand" href="/">
        <img class="mainlogo" src="images/shared/main-logo.png" />

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto sindy-link-wrap">
        <li class="nav-item active">
          <a class="nav-link" href="#/!">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/!sobre">sobre</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#/!tecnologia">tecnologia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/app">o app</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/parceiros">parceiros</a>
          </li>
     
      </ul>
    </div>
  </div>
  <div ng-include="'partials/shared/desk-top-icons.html'"></div>
  </nav>
