<footer class="container-fluid footer-wrapper">
    <div class="container" >
     <div class="sindy-footer-wrapper">
       <div class="footer-col footer-col-zero">
           <img src="images/shared/icone-footer.png" />
       </div>
       <div class="footer-col  footer-col-one">
        <ul class="sindy-footer-link-wrap">
            <li class="footer-nav-item active">
              <a class="footer-nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#">sobre</a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-nav-link" href="#">tecnologia</a>
              </li>
              <li class="footer-nav-item">
                <a class="footer-nav-link" href="#">o app</a>
              </li>
              <li class="footer-nav-item">
                <a class="footer-nav-link" href="#">parceiros</a>
              </li>
         
          </ul>
       </div>
       <div class="footer-col  footer-col-two flex-grow-1">
           <small class="small-print">Copyright© 2020 | Desenvolvido por E3 Comunicação | Todos os direitos reservados | Política de privacidade | Fotos meramente ilustrativas. | É vedada a reprodução, total ou parcial de qualquer conteúdo sem expressa autorização.</small>
        </div>
       
    </div>
    </div>
  </footer>
