<footer class="container-fluid footer-wrapper ">
    <div class="container" >
     <div class="sindy-footer-wrapper">
       <div class="footer-col footer-col-zero">
           <img src="images/shared/icone-footer.png" />
       </div>

       <div class="footer-col  footer-col-two flex-grow-1">
           <small class="small-print">Copyright© 2020 | Desenvolvido por E3 Comunicação | Todos os direitos reservados | Política de privacidade | Fotos meramente ilustrativas. | É vedada a reprodução, total ou parcial de qualquer conteúdo sem expressa autorização.</small>
        </div>
       
    </div>
    </div>
  </footer>
